<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FamilyFinance2.Properties.Settings.FFDBConnectionString"
            connectionString="Data Source=|DataDirectory|\FamilyFinanceDB.sdf;Password=s7upahu2umEcrabr!c#?u66v*FRad4gum2swe#22;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>